.letterGrid {
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.letterBox {
  width: 12;
  height: 12;
}

.key {
  padding-top: 8px;
  min-height: 5vh;
  width: 9%;
  margin-left: 2px;
  margin-right: 2px;
}

.specialKey {
  padding-top: 8px;
  min-height: 5vh;
  width: 14%;
  margin-left: 1px;
  margin-right: 1px;
  background-color: silver;
}

.keyBox {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  align-items: center;
}
.keyBoxBottom {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  align-items: center;
}
